 /* The navigation bar */
 .navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a.nav {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
} 


.topright{
  float: right;
}

a:link {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}
body {
  background-color: #f9f6f2;
}

/* visited link */
a:visited {
  color: purple;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* mouse over link */
a:hover {
  color: tomato;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
} 

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}
h1 {
  font-family: 'Radio Canada', sans-serif;
  font-size: 45px;
  color: black;
}
p {
  font-family: 'Radio Canada', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 400;
}

ul {
  font-family: 'Radio Canada', sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 200;
}

.main {
  padding-left: 3px;
}
