body{
  background-color: #f9f6f2;
  margin-top: 0px;
  padding: 0px;
}

#body {
  margin-top: 80px;
}

iframe {
  position: fixed;
}
#navbar {
  border: none;
  height: 71px;
  width: 100%;
}

.topright{
  float: right;
}

a:link {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}


/* visited link */
a:visited {
  color: purple;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* mouse over link */
a:hover {
  color: tomato;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
} 

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}
h1 {
  font-family: 'Radio Canada', sans-serif;
  font-size: 45px;
  color: black;
}
p {
  font-family: 'Radio Canada', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 400;
}

ul {
  font-family: 'Radio Canada', sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 200;
}
