body{
  background: url(/assets/sad_mum.png);
  background-position: bottom 100px;
  background-repeat: repeat;
  background-size: cover;

  margin-top: 0px;
  padding: 0px;
}

#body {
  margin-top: 80px;
}

iframe {
  position: fixed;
}
#navbar {
  border: none;
  height: 71px;
  width: 100%;
}

.topright{
  float: right;
}

a:link {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}


/* visited link */
a:visited {
  color: purple;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* mouse over link */
a:hover {
  color: tomato;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
} 

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}
h1 {
  font-family: 'Radio Canada', sans-serif;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
}
h2 {
  font-family: 'Radio Canada', sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
h3 {
  font-family: 'Radio Canada', sans-serif;
  color: #000000;
  text-align: center;
}
p, label, input {
  font-family: 'Radio Canada', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.nice-button {
  font-family: "Radio Canada", sans-serif;
  background: #365034;
  color: #000000;
  cursor: pointer;
  font-size: 1em;
  padding: 0.75rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
}
.nice-button:hover {
  background: #44a63f;
  transition: all 0.5s;
  border-radius: 15px;
  box-shadow: 0px 6px 15px #00ff2661;
  padding: 0.75rem 1rem 0.75rem;
}
ul {
  font-family: 'Radio Canada', sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 200;
}
img {
  padding: 6px
}
#results {
  font-family: 'Radio Canada', sans-serif
}