body{
  background-color: #f9f6f2;
  margin-top: 0px;
  padding: 0px;
}

#body {
  margin-top: 70px;
}

iframe {
  position: fixed;
}
#navbar {
  border: none;
  height: 71px;
  width: 100%;
}
h1 {
    font-size: 44px;
    font-family: 'Radio Canada';
    text-align: center;
}
h2 {
    font-size: 36px;
    font-family: 'Radio Canada';
    text-align: center;
}
h3 {
    font-size: 28px;
    font-family: 'Radio Canada';
    text-align: center;
}
h4 {
    font-size: 24px;
    font-family: 'Radio Canada';
    text-align: center;
}
p {
    font-size: 20px;
    font-family: 'Radio Canada';
    text-align: center;
}
a {
    font-size: 20px;
    font-family: 'Radio Canada';
    text-align: center;
}
.nice-button {
  font-family: "Radio Canada", sans-serif;
  background: #365034;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  padding: 0.75rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
}
.nice-button:hover {
  background: #44a63f;
  transition: all 0.5s;
  border-radius: 15px;
  box-shadow: 0px 6px 15px #00ff2661;
  padding: 0.75rem 1rem 0.75rem;
}
#orderbutton {
  text-align: center;
  height: 70px
}
.child {
  display: inline-block;
}

