body{
  background-color: #f9f6f2;
  margin-top: 0px;
  padding: 0px;
}

#body {
  margin-top: 56px;
}

iframe {
  position: fixed;
}
#navbar {
  border: none;
  height: 57px;
  width: 100%;
}
h1 {
    font-size: 44px;
    font-family: 'Radio Canada';
    text-align: center;
}
h2 {
    font-size: 36px;
    font-family: 'Radio Canada';
    text-align: center;
}
h3 {
    font-size: 28px;
    font-family: 'Radio Canada';
    text-align: center;
}
h4 {
    font-size: 24px;
    font-family: 'Radio Canada';
    text-align: center;
}
p {
    font-size: 20px;
    font-family: 'Radio Canada';
    text-align: center;
}
a {
    font-size: 20px;
    font-family: 'Radio Canada';
    text-align: center;
}
