body{
  background-color: #f9f6f2;
  margin-top: 0px;
  padding: 0px;
}

#body {
  margin-top: 60px;
}

#main {
  /* outline: 3px dotted green; */
  overflow: auto;
}
#main .ASkiingrock{
  margin-left: 15vw;
  float: left;
  /* outline: 3px dotted green; */
  inline-size: min-content;
}

#main .Oscar{
  margin-right: 15vw;
  float: right;
  /* outline: 3px dotted green; */
  inline-size: min-content;
}

img {
  border-radius: 50%;
}

h1 {
  font-family: 'Radio Canada', Sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Radio Canada', Sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Radio Canada', Sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  font-family: 'Radio Canada', Sans-serif;
  font-weight: 200;
}
#navbar {
  border: none;
  height: 57px;
  width: 100%;
}
iframe {
  position: fixed;
}
