body{
    background: url(/assets/smelk_suite/smelk_suite2.png);
    background-size: cover;

    background-color: #f9f6f2;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
}

#body {
    padding-left:8px;
    padding-top: 61px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.3)
  }

iframe {
    position: fixed;
}
#navbar {
    border: none;
    height: 71px;
    width: 100%;
  }
h1.blink {
    animation: blinker 1.5s ease-in infinite;
    color: red;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}
h1 {
    font-family: 'Radio Canada', Sans-serif;
    text-align: center;
}

h2 {
font-family: 'Radio Canada', Sans-serif;
font-weight: 600;
color: white;
}
h3 {
  font-family: 'Radio Canada', Sans-serif;
  font-weight: 400;
  color: white;
}

p{
font-family: 'Radio Canada', Sans-serif;
font-weight: 400;
color: white;
}

a {
text-decoration: none;
}

ul, label {
font-family: 'Radio Canada', Sans-serif;
font-weight: 200;
color: white;
}
span {
  background: yellow;
  opacity: 80%;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px
}

