body{
    background-color: #f9f6f2;
}
p.blink {
    animation: blinker 1s linear infinite;
    color: #1c87c9;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}
a {
    text-decoration: none;
}
#navbar {
    border: none;
    height: 60px;
    width: 100%;
}
