body{
    background: url(https://www.maxpixel.net/static/photo/1x/Texture-Old-Template-Writing-Background-Paper-2500380.jpg);
    background-position: bottom 100px;
    background-repeat: repeat;
    background-size: cover;
    
    margin-top: 0px;
    padding: 0px;
}

#body {
  margin-top:81px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#generator{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

iframe {
    position: fixed;
}
#navbar {
    border: none;
    height: 71px;
    width: 100%;
  }

h1 {
    font-family: 'Radio Canada', Sans-serif;
    text-align: center;
    font-size: 50px;
}

h2 {
font-family: 'Radio Canada', Sans-serif;
font-weight: 400;
font-size: 35px
}
h3 {
  font-family: 'Radio Canada', Sans-serif;
  font-weight: 400;
  font-size: 20px
}

p{
font-family: 'Radio Canada', Sans-serif;
font-weight: 400;
font-size: 20px
}

a {
text-decoration: none;
}

ul, label {
font-family: 'Radio Canada', Sans-serif;
font-weight: 200;
}
.nice-button {
  font-family: "Radio Canada", sans-serif;
  background: #365034;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.75em;
  padding: 0.55rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
}
.nice-button:hover {
  background: #44a63f;
  transition: all 0.5s;
  border-radius: 15px;
  box-shadow: 0px 6px 15px #00ff2661;
  padding: 0.55rem 0.75rem 0.55rem;
}