body {
    margin: 0px;
    padding: 0px;
}
nav {
    border-radius: 0 0 25px 25px;
    display: inline-flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 99.25%;
    top: 0;
    background-color: #343434df;
    align-items: center;
    margin: 0;
    position: fixed;
}
nav .menuItems a {
    font-family: "Radio Canada";
    font-weight: 400;
    text-align: center;
    padding: 0px 16px;
    margin: 0px 8px;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    display: block;
    float: left;    
}
nav .menuItems a::before {
    content: attr(data-text);
    position: absolute;
    border-radius: 25px;
    transition: 0.2s;
    color: #ba7b0b;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
nav .menuItems a:hover::before {
    background: #ffffff;
    width: 100%;
}
.image {
    margin-left: 30px;
    float: left;
    display: block;
}

.nav-logo:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

.language-switcher {
    background: url(/assets/es.svg);
    background-repeat: no-repeat;

    float: right;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    padding: 0;
    text-indent: 110%;
    white-space: nowrap;
    width: 40px;
}