body{
  background-color: #232220;
  margin-top: 0px;
  padding: 0px;
}
.body {
  text-align: center;
}
#body {
  margin-top: 71px;
}

iframe {
  position: fixed;
}
#navbar {
  border: none;
  height: 71px;
  width: 100%;
}
h1 {
  color: white;
  font-family: 'Radio Canada', sans-serif;
}
a:link {
  color: lightblue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* visited link */
a:visited {
  color: pink;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* mouse over link */
a:hover {
  color: tomato;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
} 

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}
h2 {
  color: white;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 700;
}
h3 {
  color: white;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 600;
}
p {
  color: white;
  font-family: 'Radio Canada', sans-serif;
}
li {
  color: white;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
div.codediv{
  width: 100%;
  background: #ba7a0baf;
  border-radius: 5px;
  height: 25px;
}
code {
  padding-left: 5px;
  line-height: 25px;
}
button {
  font-size:13px;
  margin-right: 5px;
  margin-top: 2px;
  float: right;
}
.nice-button {
  font-family: "Radio Canada", sans-serif;
  background: #365034;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.75em;
  padding: 0.55rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
}
.nice-button:hover {
  background: #44a63f;
  transition: all 0.5s;
  border-radius: 15px;
  box-shadow: 0px 6px 15px #00ff2661;
  padding: 0.55rem 0.75rem 0.55rem;
}
textarea {
  font-family: 'Radio Canada', sans-serif;
  background:#ffffff3e; 
  color: white; 
}
textarea::placeholder {
  color: white
}