body{
  background-color: #f9f6f2;
  margin-top: 0px;
  padding: 0px;
}

#body {
  margin-top: 71px;
}

iframe {
  position: fixed;
}
#navbar {
  border: none;
  height: 71px;
  width: 100%;
}
h1 {
  color: black;
  font-family: 'Radio Canada', sans-serif;
}
.one {
  color: black;
  font-family: 'Radio Canada', sans-serif; 
}
hr.one {
  height: 0.5px;
  background: grey;
  width: 277px;
}
hr.two {
  border: none;
  height: 0.5px;
  background: grey;
  width: 60%;
  margin-left: 0px;
}
i {
  color: rgb(34, 34, 34);
  font-family: 'Radio Canada', sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 200;
}
a:link {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* visited link */
a:visited {
  color: purple;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

/* mouse over link */
a:hover {
  color: tomato;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
} 

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}
h2 {
  color: black;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 700;
}
h3 {
  color: black;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 600;
}
.two {
  color: black;
  font-family: 'Radio Canada', sans-serif;
}
li {
  color: black;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
div.codediv{
  width: 100%;
  background: #ba7a0baf;
  border-radius: 5px;
  height: 25px;
}
code {
  padding-left: 5px;
  line-height: 25px;
}
button {
  font-size:13px;
  margin-right: 5px;
  margin-top: 2px;
  float: right;
}